<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.ornek.workoutin7minutes">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:name=".EgzersizApp"
        android:icon="@mipmap/ic_launcher"
        android:label="7 Dakikada Egzersiz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workoutin7minutes">
        <activity
            android:name=".HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".VKIActivity"
            android:exported="true" />
        <activity
            android:name=".BitisActivity"
            android:exported="true" />
        <activity
            android:name=".EgzersizActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>